.inputLabel {
    font-family: 'Poppins', sans-serif;
    ;

    font-weight: 400;
    font-size: 16px;
}

.inputText {
    width: calc(100% - 28px);
    height: 57px;
    margin-top: 13px;
    padding-left: 25px;


    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 9px;

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
}

.inputText::placeholder {
    font-weight: 300;
}

.inputText:focus {
    outline: 0;
    border: 1px solid #4285F4;
}

.inputError {
    height: 60px;
    display: flex;
    align-items: center;

    font-family: 'Poppins';
    font-size: 13px;
    color: crimson;
}

.inputErrorText {
    height: 40px;
}

.errorContainer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot {
    font-family: 'Poppins';
    font-size: 13px;
    color: #4285F4;
    padding-bottom: 15px;
}

.signButton {
    margin-left: auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    height: 54px;
    width: 236px;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;

    background: #779341;
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
    border-radius: 10px;
    cursor: pointer;
    border: 0;
}

.signButton:disabled {
    background: #303b1a7a;
    cursor: default
}