.background {
    background-image: url(../images/background.png);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

.pageWindow {
    display: flex;
    justify-content: flex-end;
    height: 93vh;
}

.window {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 539px;
    margin-top: 20px;
    margin-right: 100px;
    padding: 50px;


    background: rgba(255, 255, 255, 0.75);
    border-radius: 40px;
}


@media (max-width: 1600px) {
    .background {
        background-size: cover;
    }
}