.head {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.welcome {
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 400;
}

.welcomeGreen {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #779341;
}

.title {

    margin: 0;
    font-size: 55px;
    font-weight: 500;
}

.redirect {
    padding-top: 6px;

    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    color: #8D8D8D;
}

.redirectLink {
    margin: 0;
    color: #779341;
    text-decoration: none;
    cursor: pointer;
}